<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nordakademie.smart_kitchen_ingredients"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="de.nordakademie.smart_kitchen_ingredients.SHOPPING_LIST_CHANGING" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="de.nordakademie.smart_kitchen_ingredients.SHOPPING_LIST_CHANGING"
        android:description="@string/changeShoppingDataPermissionDescription"
        android:label="@string/changeShoppingDataPermissionLabel"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" >
    </permission>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="de.nordakademie.smart_kitchen_ingredients" />

    <application
        android:name="de.nordakademie.smart_kitchen_ingredients.IngredientsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.shoppinglist.ShoppingListActivity"
            android:label="@string/title_activity_shopping" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.stock.StockPrefsActivity" >
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.collector.IngredientCollectorActivity"
            android:label="@string/ingredientCollector" >
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.collector.RecipeCollectorActivity"
            android:label="@string/recipeCollector" >
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.collector.StoredIngredientCollectorActivity" >
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.scheduling.ShoppingDateActivity"
            android:label="@string/title_activity_shoppingDate" >
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.stock.StoredIngredientActivity" >
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.collector.AddStoredIngredientActivity" >
        </activity>

        <receiver android:name="de.nordakademie.smart_kitchen_ingredients.scheduling.ShoppingDateAlarmReceiver" >
        </receiver>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.collector.AddIngredientActivity"
            android:label="@string/title_activity_add_ingredient" >
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.scheduling.ShoppingDateListActivity"
            android:label="@string/title_activity_shoppingDateList" >
        </activity>
    </application>

</manifest>