<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nordakademie.smart_kitchen_ingredients"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="de.nordakademie.smart_kitchen_ingredients.SHOPPING_LIST_CHANGING" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
        android:name="de.nordakademie.smart_kitchen_ingredients.SHOPPING_LIST_CHANGING"
        android:description="@string/changeShoppingDataPermissionDescription"
        android:label="@string/changeShoppingDataPermissionLabel"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" >
    </permission>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="de.nordakademie.smart_kitchen_ingredients" />

    <application
        android:name="de.nordakademie.smart_kitchen_ingredients.IngredientsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.shoppinglist.ShoppingListActivity"
            android:label="@string/title_activity_shopping" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.stock.StockPrefsActivity" 
            	  android:label="@string/menuInsertStoredItems">
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.collector.IngredientCollectorActivity"
            android:label="@string/ingredientCollector" 
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.collector.RecipeCollectorActivity"
            android:label="@string/recipeCollector" 
            android:launchMode="singleTask">
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.collector.StoredIngredientCollectorActivity" 
            	  android:label="@string/stock_ingredients" >
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.scheduling.ShoppingDateActivity"
            android:label="@string/title_activity_shoppingDate" >
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.stock.StoredIngredientActivity"
            	  android:label="@string/menuInsertStoredItems"
            	  android:launchMode="singleTask" >
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.collector.StoredIngredientActivity" 
            	  android:label="@string/menuInsertStoredItems">
        </activity>

        <receiver android:name="de.nordakademie.smart_kitchen_ingredients.scheduling.ShoppingDateAlarmReceiver" >
        </receiver>
        <receiver android:name="de.nordakademie.smart_kitchen_ingredients.localdata.NetworkReceiver">
             <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.collector.AddIngredientActivity"
            android:label="@string/title_activity_add_ingredient" >
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.collector.AddStoredIngredientActivity"
            android:label="@string/title_activity_add_ingredient" >
        </activity>
        <activity
            android:name="de.nordakademie.smart_kitchen_ingredients.scheduling.ShoppingDateListActivity"
            android:label="@string/title_activity_shoppingDateList" >
        </activity>
        <activity android:name="de.nordakademie.smart_kitchen_ingredients.shoppinglist.ShoppingListIngredientsActivity">
            </activity>
            
        <service android:name="de.nordakademie.smart_kitchen_ingredients.localdata.CacheUpdaterService"></service>
    </application>

</manifest>
